@font-face {
  font-family: "didot";
  src: url("/fonts/Didot.ttc");
}

@font-face {
  font-family: "encode";
  src: url("/fonts/EncodeSans-VariableFont_wdth\,wght.ttf");
}

$font-sans-serif: "encode";
$font-serif: "didot";
$color-background: #180e0d;
$color-light_grey: #8a8a8a;
$color-dark_grey: #6b5b6a;
$color-white: #e0e0e0;
$color-accent: #f7a4f6;
$type-size-small: 14pt;
$type-size-very_small: 10pt;
$type-line_height-small: 2rem;

.type-accent {
  color: $color-accent;
  font-family: $font-serif, serif;
}

.white-text {
  color: $color-white;
}

.type-font-didot-light {
  font-family: $font-serif, serif;
  font-weight: lighter;
}

.body-text,
text {
  font-family: $font-sans-serif;
  font-size: $type-size-small;
  line-height: $type-line_height-small;
}

.body-text {
  color: $color-white;
}

text {
  color: $color-light_grey;
  font-size: $type-size-very_small;
}

.hook::first-letter {
  color: $color-accent;
  font-family: $font-serif;
  font-weight: bold;
  font-size: 250%;
  padding: 16px 0px 8px 8px;
  margin-right: 6px;
  float: left;
}

.step.active .step-content {
  background: $color-white;
  color: $color-background;
}

.step-content {
  font-family: $font-sans-serif;
  color: $color-background;
  font-size: $type-size-small;
  line-height: $type-line_height-small;
}

body {
  background-color: $color-background;
}

.annotation-cover-contour,
.mag-chart-rect {
  fill: $color-white;
  cursor: pointer;
}

.annotation-cover-background,
.background-rect {
  fill: $color-dark_grey;
}

.mean-datapoints {
  fill: $color-accent;
}

.axis {
  fill: $color-light_grey;
}

.chart-title {
  font-family: $font-sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 32px;
}

hr {
  color: $color-dark_grey;
}

button {
  font-size: $type-size-small;
  all: unset;
}

a,
a:visited {
  color: $color-white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: $color-accent;
}

body {
  margin: 0;
  padding: 0;
}

.body-section {
  font-size: 14pt;
  line-height: 18pt;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.section {
  margin: 0 auto; /* Horizontally center the sections */
  margin-bottom: 10px;
  padding-bottom: 24px;
}

@media (max-width: 800px) {
  .section {
    width: 85vw;
  }
}

@media (min-width: 800px) {
  .section {
    width: 50vw;
  }
}

.footer {
  color: $color-light_grey;
  font-family: $font-sans-serif;
  font-size: $type-size-very_small;
  line-height: 16pt;
}

.footer a {
  color: $color-light_grey;
}

.last-section {
  padding-bottom: 0;
}

select {
  background: none;
  border: none;
  border-bottom: 1px solid $color-background;
  box-shadow: none;
  font-family: "encode";
  color: $color-background;
  font-size: $type-size-small;
  line-height: $type-line_height-small;
}

.steps-wrapper {
  z-index: 10 !important;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  pointer-events: none;
}
.step {
  z-index: 10 !important;
  height: 110vh;
  display: flex;
  place-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
}

.step-content {
  background: whitesmoke;
  color: #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: background 500ms ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  height: auto;
  z-index: 11 !important;
}

@media (max-width: 800px) {
  .step-content {
    max-width: 85vw;
  }

  .step {
    position: relative;
  }
}

@media (min-width: 800px) {
  .step-content {
    max-width: 30vw;
  }
}

.mag-gallery {
  position: sticky;
  margin: auto;
  flex: 1 1 60%;
  top: 0vh;
  height: 100vh;
  z-index: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
